*~
*.tar.gz
*.zip
*.swp
old_packages/*
PsN-Source/*
nmoutput2so/*
bin/update
doc/*.aux
doc/*.log
doc/*.pdf
doc/ddmore/*.aux
doc/ddmore/*.log
doc/ddmore/*.pdf
doc/inputs/*eps-converted-to.pdf
doc/inputs/version.tex
doc/inputs/date.tex
doc/developers_guide.out
test/unit/testcase.txt
test/test_files/pheno.lst
test/test_files/pheno5.lst
test/test_files/pheno5.ext
test/test_files/pheno5.phi
test/test_files/mox2.lst
development/completion_files
test/test_files/pheno.ext
test/test_files/pheno.phi
test/test_files/phenomsf
test/test_files/prob_1.psn_etas
test/test_files/prob_1.psn_wres
test/test_files/tbs1.ext
test/test_files/tbs1.lst
test/test_files/tbs1.phi
test/test_files/tbs1a.ext
test/test_files/tbs1a.lst
test/test_files/tbs1a.phi
