*~
*.tar.gz
*.zip
*.swp
PsN-Source/*
doc/*.aux
doc/*.log
doc/*.pdf
doc/ddmore/*.aux
doc/ddmore/*.log
doc/ddmore/*.pdf
doc/inputs/*eps-converted-to.pdf
test/unit/testcase.txt
test/test_files/pheno.lst
test/test_files/pheno5.lst
test/test_files/pheno5.ext
test/test_files/pheno5.phi
lib/PsN.pm
libgen/*
lib/debug.pm
lib/nonmem.pm
lib/tool/scm/config_file.pm
lib/ui.pm
